<!-- COLUMN 3 -->
<div class="col-sm-5 d-inline-block" style="position: relative;">
    <main class="container-responsive">
        <div class="card mt-3" >
            <div class="card-header">ID | Datum</div>
            <div class="card-body">
              <p class="card-text">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-medium">Transaktion</th>
                            <th class="col-medium">Verwendung</th>
                            <th class="col-medium">Konto Begünstigter</th>
                            <th class="col-small">Typ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-medium">Position</td  >
                            <td class="col-medium">Kategorie</td >
                            <td class="col-medium">Sub-Kategorie</td >
                            <td class="col-small">Intervall</td >
                        </tr>
                    </tbody>
                </table>
              </p>
            </div>
            <div class="card-footer">value</div>
        </div>
        <div class="detail-button-bar w-75">
            <button class="btn btn-danger w-25">Delete</button>
            <button class="btn btn-secondary w-25">Edit</button>
            <button class="btn btn-success w-25">Save</button>
        </div>
    </main>
</div>
