{% extends "base.html" %}

{% block upper_block %}
    <!-- UPPER BLOCK -->
    <div class="container">
        <div class="row">
            <!-- COLUMN 1 -->
            <div class="col-sm-2">
                <h6>DUMMY HEADER</h6>
            </div>
            <!-- COLUMN 2 -->
            <div class="col-sm-9">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <caption>MEINE Transactions</caption>
                        <thead>
                            <tr class="table-primary">
                                <!--<th scope="col">ID</th>                  1 -->
                                <!--<th scope="col">Slug</th>                2 -->
                                <th scope="col">Datum</th>              <!-- 3 -->
                                <th scope="col">Betrag</th>             <!-- 4 -->
                                <th scope="col">Beguenstigter</th>      <!-- 5 -->
                                <th scope="col">Verwendung</th>         <!-- 6 -->
                                <th scope="col">Type</th>               <!-- 7 -->
                                <th scope="col">Edit</th>               <!-- 8 -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in transactions %}
                            <tr>
                                <td>{{ transaction.date }} {{ injectme  }}</td>
                                <td>{{ transaction.value }}</td>
                                <td>{{ transaction.debitor }}</td>
                                <td>{{ transaction.verwendung }}</td>
                                <td>
                                    {% if transaction.properties %}
                                        {{ transaction.properties.name }}
                                    {% else %}
                                        Kein Property zugewiesen
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="#" class="btn">Edit</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock upper_block%}
